version: '3.8'

services:
  web:
    build: .
    ports:
      - "8080:80"
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_USER=quiz_user
      - DB_PASSWORD=quiz_password
      - DB_NAME=quiz_db
    volumes:
      - ./:/var/www/html/

  db:
    image: mysql:8.0
    environment:
      - MYSQL_ROOT_PASSWORD=root_password
      - MYSQL_DATABASE=quiz_db
      - MYSQL_USER=quiz_user
      - MYSQL_PASSWORD=quiz_password
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
            - ./init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  db_data:
